body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* profile styles */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

.jumbotron-flat {
  background-color: 'solid #4DB8FFF';
  height: 100%;
  border: 1px solid #4DB8FF;
  background: white;
  width: 100%;
text-align: center;
overflow: auto;
  color: var(--dark-color);
}

.paymentAmt {
  color: var(--dark-color);
    font-size: 80px; 
}

.centered {
    text-align: center;
}

.title {
 padding-top: 15px;   
  color: var(--dark-color);
}


@media only screen and (max-width: 700px) {
 .task-analytics-container{
  
  flex-direction: column;
  margin-top: 15rem;
 }
 .my-task-analytics{
  margin-top: 5rem;
 }
 .myScore-category-graph-container{
position: relative;
top: 8rem;
 }
 .user-taskCompletion-section{
position: relative;
top: 8rem;
 }
}